.profile__edit {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 690px) {
    .profile__edit {
        flex-direction: column;
        justify-content: center;
        margin: 35px auto;
    }
}