.card__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../image/like.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.card__like:hover {
    opacity: 0.6;
    transition: 0.2s;
}