.card__info {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 15px 31px 21px;
    border-radius: 0 0 10px 10px;
    align-items: center;
}