@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__name/profile__name.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__place/card__place.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__liked/card__liked.css);
@import url(../blocks/card/__image/_dombai/card__image_dombai.css);
@import url(../blocks/card/__image/_elbrus/card__image_elbrus.css);
@import url(../blocks/card/__image/_karachaevsk/card__image_karachaevsk.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__body/popup__body.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close/popup__close-link.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__save/_link/popup__save_link.css);
@import url(../blocks/popup/__job/popup__job.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/link/link.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__mesto/footer__mesto.css);